# Stage #4: Combine and Summarize

---

## Preparation

In [2]:
import pandas as pd

In [3]:
pd.set_option("display.max_columns", None)
df = pd.read_csv("C:/Users/malvi/Desktop/data-hw-Malvika-R5/Titanic/dataset_201_guide.csv")

## 1. What is the survival rate of the ship?

In [4]:
df["Survived"].mean() * 100
print(f"The survival rate of the ship is {df['Survived'].mean() * 100}")

The survival rate of the ship is 38.38383838383838

## 2. What is the survival rate for each gender?

In [11]:
df.groupby('Sex')['Survived'].mean() * 100

print(f'The survival rate of each gender:')
print(df.groupby('Sex')['Survived'].mean() * 100)

The survival rate of each gender:
Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

## 3. What is the survival rate for each passenger class?

In [12]:
df.groupby("Pclass")["Survived"].mean() * 100

print(f'The survival rate for each passenger class:')
print(df.groupby("Pclass")["Survived"].mean() * 100)

The survival rate for each passenger class:
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

## 4. What is the survival rate of passengers in each embarkation port?

In [14]:
df.groupby("Embarked")["Survived"].mean() * 100

print(f'The survival rate of passengers in each embarkation port:')
print(df.groupby("Embarked")["Survived"].mean() * 100)

The survival rate of passengers in each embarkation port:
Embarked
C    55.357143
Q    38.961039
S    33.695652
Name: Survived, dtype: float64

## 5. What is the survival rate for each gender in each passenger class?

In [15]:
df.groupby(["Sex", "Pclass"])["Survived"].mean() * 100

print(f'The survival rate of each gender in each passenger class:')
print(df.groupby(["Sex", "Pclass"])["Survived"].mean() * 100)

The survival rate of each gender in each passenger class:
Sex     Pclass
female  1         96.808511
        2         92.105263
        3         50.000000
male    1         36.885246
        2         15.740741
        3         13.544669
Name: Survived, dtype: float64

## 6. What is the survival rate for each gender that embarked in each port?

In [ ]:
df.groupby(["Sex", "Embarked"])["Survived"].mean() * 100

Sex     Embarked
female  C           87.671233
        Q           75.000000
        S           68.965517
male    C           30.526316
        Q            7.317073
        S           17.460317
Name: Survived, dtype: float64

## 7. What is the survival rate for each class that embarked in each port?

In [10]:
df.groupby(["Pclass", "Embarked"])["Survived"].mean() * 100

Pclass  Embarked
1       C           69.411765
        Q           50.000000
        S           58.267717
2       C           52.941176
        Q           66.666667
        S           46.341463
3       C           37.878788
        Q           37.500000
        S           18.980170
Name: Survived, dtype: float64