# Stage #4: Combine and Summarize

---

## Preparation

In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)
df = pd.read_csv("C:/Users/malvi/Desktop/data-hw-Malvika-R5/Titanic/dataset_201_guide.csv")

## 1. How much money was collected from all passengers?

In [3]:
df["Fare"].sum().round(2)

print(f'The total money collected from all the passengers is {df["Fare"].sum().round(2)}')

The total money collected from all the passengers is 28693.95

## 2. How much money was collected from each passenger class?

In [9]:
df.groupby("Pclass")["Fare"].sum().round(2)

print(f'The total money collected from the passengers in each class:')
print(df.groupby("Pclass")["Fare"].sum().round(2))

The total money collected from the passengers in each class:
Pclass
1    18177.41
2     3801.84
3     6714.70
Name: Fare, dtype: float64

## 3. How much money was collected based on survival?

In [5]:
df.groupby("Survived")["Fare"].sum().round(2).sort_values(ascending=False)

Survived
1    16551.23
0    12142.72
Name: Fare, dtype: float64

## 4. How much money was from each port?

In [6]:
df.groupby("Embarked")["Fare"].sum().round(2).sort_values(ascending=False)

Embarked
S    17439.40
C    10072.30
Q     1022.25
Name: Fare, dtype: float64

## 5. How much money was collected based on survival in each passenger class?

In [7]:
df.groupby(["Pclass", "Survived"])["Fare"].sum().round(2)

Pclass  Survived
1       0            5174.72
        1           13002.69
2       0            1883.00
        1            1918.85
3       0            5085.00
        1            1629.69
Name: Fare, dtype: float64

## 6. How much money was collected from each class in each port?

In [8]:
df.groupby(["Embarked", "Pclass"])["Fare"].sum().round(2)

Embarked  Pclass
C         1         8901.08
          2          431.09
          3          740.13
Q         1          180.00
          2           37.05
          3          805.20
S         1         8936.34
          2         3333.70
          3         5169.36
Name: Fare, dtype: float64