# Stage #4: Combine and Summarize

---

## Preparation

In [2]:
import pandas as pd

In [3]:
pd.set_option("display.max_columns", None)
df = pd.read_csv("C:/Users/malvi/Desktop/data-hw-Malvika-R5/Titanic/dataset_201_guide.csv")

## 1. What was the average age of passengers in the Titanic?

In [10]:
df["Age"].mean()

print(f'The average age of the passengers in the Titanic was {df["Age"].mean()}')

The average age of the passengers in the Titanic was 29.69911764705882

## 2. What was the average age of the passengers who survived vs those who didn't?

In [18]:
df.groupby("Survived")["Age"].mean()
print(f'The average age of the passengers: {df.groupby("Survived")["Age"].mean()}')
print(f'The average age of the passengers who did not survive: {df.groupby("Survived")["Age"].mean()[0]}')
print(f'The average age of the passengers who survived: {df.groupby("Survived")["Age"].mean()[1]}')

The average age of the passengers: Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64
The average age of the passengers who did not survive: 30.62617924528302
The average age of the passengers who survived: 28.343689655172415

## 3. What was the average age of survivors vs. non-survivors for each passenger class?

In [34]:
df.groupby(["Survived", "Pclass"])["Age"].mean()

print(f'The average age of the passengers who did not survive: {df.groupby(["Survived", "Pclass"])["Age"].mean()[0]}')
print(f'The average age of the passengers who survived: {df.groupby(["Survived", "Pclass"])["Age"].mean()[1]}')

The average age of the passengers who did not survive: Pclass
1    43.695312
2    33.544444
3    26.555556
Name: Age, dtype: float64
The average age of the passengers who survived: Pclass
1    35.368197
2    25.901566
3    20.646118
Name: Age, dtype: float64

## 4. What was the average age of survivors vs. non-survivors for each passenger class and gender?

In [35]:
df.groupby(["Survived", "Sex", "Pclass"])["Age"].mean()

Survived  Sex     Pclass
0         female  1         25.666667
                  2         36.000000
                  3         23.818182
          male    1         44.581967
                  2         33.369048
                  3         27.255814
1         female  1         34.939024
                  2         28.080882
                  3         19.329787
          male    1         36.248000
                  2         16.022000
                  3         22.274211
Name: Age, dtype: float64